<h2 class="page_header">Booking details with <%= @booking.eatery.name %></h2>

<div class="show_box">
    <%= cl_image_tag @booking.eatery.image, alt: @booking.eatery.name, class: 'eatery_show_img' %>

    <div class="booking_details">
        <h2>Number of people</h2>
        <p><%= @booking.people_number %></p>

        <h2>Phone number</h2>
        <p><%= @booking.phone %></p>

        <h2>Email</h2>
        <p><%= @booking.email %></p>

        <h2>Date and Time</h2>
        <p><%= @booking.time.strftime('%I:%M%P at %B %d, %Y') %></p>

        <% if @current_user.admin %>
            <h2>Booked by</h2>
            <p><%= @booking.user.name %></p>
        <% end %>

    </div>
</div>

<div id="booking_nav">
<%= link_to 'Edit Booking', edit_booking_path, class: 'sort_tag' %>
<%= link_to 'Delete Booking', booking_path(@booking.id), method: 'delete', class: 'sort_tag' %>
</div>

