<h2 class="page_header">Account Details for <%= @user.name %></h2>

<div id="user_details_box">
    <%= image_tag @user.image, alt: @user.name, class: 'user_img' %>

    <div id="user_details">
        <h2>Name</h2>
        <p><%= @user.name %></p>

        <h2>Email</h2>
        <p><%= @user.email %></p>

        <h2>Phone Number</h2>
        <p><%= @user.phone %></p>
        <br>
    </div>
</div>
<br>
<br>

    <%= link_to 'Edit Account Details', edit_user_path(@user.id), class: 'sort_tag' %>
    <%= link_to 'Delete Account', user_path(@user.id), method: 'delete', class: 'sort_tag' %>


<h2 class="page_header">Your Calendar Bookings</h2>

<%# <a name="form"></a> %>

<%= month_calendar(events: @bookings, attribute: :time) do |date, bookings| %>
  <%= date.day %>

    <% bookings.each do |booking| %>

        <%= link_to cl_image_tag(booking.eatery.image, width: 80, height: 80, name: booking.eatery.name, class: 'calander_thumbnail'), booking_path(booking.id) %>

        <p class="calendar_eatery_name"><strong><%= booking.eatery.name %></strong></p>
        <%= booking.time.strftime('%I:%M%P at %B %d, %Y') %>

    <% end %>
    <%# <script>
        location.hash = "#form"
    </script> %>
<% end %>

<% if @current_user.admin %>
    <h2>Your created eateries</h2>

    <% @user.eateries.each do |eatery| %>

        <%= link_to image_tag(eatery.image, alt: eatery.name, class: 'admin_eatery_img'), eatery_path(eatery.id) %>
        <p><%= eatery.name %></p>

    <% end %>
<% end %>