<div class="new_eatery_form">
<%= form_with model: @eatery, local: true, html: { multipart: true } do |f| %>

    <h2><%= f.label :name %><h2>
    <p><%= f.text_field :name %></p>

    <h2><%= f.label :location %><h2>
    <p><%= f.text_field :location %></p>

    <h2><%= f.label :cuisine %><h2>
    <p><%= f.text_field :cuisine %></p>

    <h2><%= f.label :price_range %><h2>
    <p><%= f.text_field :price_range %></p>

    <h2><%= f.label :description %><h2>
    <p><%= f.text_field :description %></p>

    <h2><%= f.label :menu %><h2>
    <p><%= f.url_field :menu %></p>

    <h2><%= f.label :image %><h2>
    <p><%= f.file_field :image %></p>

    <h2>Eatery Type</h2>
    <div class='checkbox'>
        <% EateryType.all.each do |type| %>
            <label>
                <%= check_box_tag 'eatery_type_ids[]', type.id  %>
                <%= type.name %>
            </label>
            <br>

    <% end %>
    </div>
    <br><br>

    <%= f.submit %>

<% end %>
</div>