
<h2 class="page_header"><%= @eatery.name %></h2>

<% if @current_user.present? && @current_user.admin %>
    <%= link_to 'Edit Eatery', edit_eatery_path(@eatery.id), class: 'tag' %>
    <%= link_to 'Delete Eatery', eatery_path(@eatery.id), class: 'tag', method: 'delete' %>
<% end %>

<div class="show_box">

<%= cl_image_tag @eatery.image, alt: @eatery.name, class: 'eatery_show_img'  %>

    <div class="details">
    <h2>Venue Type</h2>
        <% @eatery.eatery_types.each do |type| %>

            <%= link_to type.name, eatery_type_path(type.id), class: 'sort_tag' %>

        <% end %>

        <h2>Location</h2>
        <p><%= @eatery.location %><p>

        <h2>Cuisine</h2>
        <p><%= @eatery.cuisine %></p>

        <h2>Price</h2>
        <p>$<%= @eatery.price_range %> pp</p>

        <h2>Description</h2>
        <p><%= @eatery.description %></p>
    </div>

</div>

<h2><%= link_to 'View Menu here', @eatery.menu, class: 'menu_tag' %></h2>

<div class="eatery_gallery">
    <% @eatery.photos.each do |photo| %>

        <div class="eatery_gallery_box">
            <%= cl_image_tag photo.url, name: photo.name, class: 'eatery_gallery_img' %>
            <p><%= photo.description %></p>
        </div>

    <% end %>
</div>

<hr>
<!--
<%= link_to 'Make Booking', new_booking_path %>
-->
<a name="form"></a>

<div id="booking_area">
    <h2 class="page_header">MAKE BOOKING HERE</h2>

    <% if @booking.errors.any? %>
        <strong>Please correct the following errors:</strong>
        <ul>
            <% @booking.errors.full_messages.each do |e| %>
                <li><%= e %></li>
            <% end %>
        </ul>
        <script>
            location.hash = "#form"
        </script>
    <% end %>

    <div class="new_form">
        <%= form_with model: @booking, local: true do |f| %>

            <%= f.hidden_field :eatery_id, :value => @eatery.id %>

            <h2><%= f.label :people_number %><h2>
            <p><%= f.number_field :people_number, in: 1..12, placeholder: 'Enter number of people here' %></p>

            <h2><%= f.label :phone %><h2>
            <p><%= f.text_field :phone, placeholder: 'Enter phone number here' %></p>

            <h2><%= f.label :email %><h2>
            <p><%= f.email_field :email, placeholder: 'Enter emails' %></p>

            <h2><%= f.label :time %><h2>
            <p><%= f.datetime_field :time, min: Date.today %></p>

            <%= f.submit %>

        <% end %>
    </div>
</div>