<h1><%= @eatery.name %></h1>

<%= image_tag @eatery.image, alt: @eatery.name, class: 'eatery_show_img'  %>

<h2>Venue Type</h2>
<% @eatery.eatery_types.each do |type| %>

    <p><%= link_to type.name, eatery_type_path(type.id) %></p>

<% end %>

<h2>Location</h2>
<p><%= @eatery.location %></p>

<h2>Cuisine</h2>
<p><%= @eatery.cuisine %></p>

<h2>Price</h2>
<p>$<%= @eatery.price_range %> pp</p>

<h2>Description</h2>
<p><%= @eatery.description %></p>

<%= link_to 'Edit Eatery', edit_eatery_path %>
<%= link_to 'Delete Eatery', eatery_path(@eatery.id), method: 'delete' %>

<!--
<%= link_to 'Make Booking', new_booking_path %>
-->

<h2>Make booking here</h2>

<%= form_with model: @booking, local: true do |f| %>

    <%= f.hidden_field :eatery_id, :value => params[:id] %>
 
    <!--
    <h2><%= f.label :eatery_id %><h2>
    <p><%= f.number_field :eatery_id, value: params[:id] %></p>
    -->
    

    <!--
    <h2><%= f.label :eatery_id, 'Eatery Name' %><h2>
    <p><%= f.collection_select :eatery_id, Eatery.all, :id, :name, include_blank: true %></p>
    -->

    <h2><%= f.label :people_number %><h2>
    <p><%= f.number_field :people_number %></p>

    <h2><%= f.label :phone %><h2>
    <p><%= f.text_field :phone %></p>

    <h2><%= f.label :email %><h2>
    <p><%= f.text_field :email %></p>

    <h2><%= f.label :time %><h2>
    <p><%= f.datetime_field :time %></p>

    <%= f.submit %>

<% end %>
