<h1><%= @eatery.name %></h1>

<%= image_tag @eatery.image, alt: @eatery.name, class: 'eatery_show_img'  %>

<h2>Venue Type</h2>
<% @eatery.eatery_types.each do |type| %>

    <p><%= type.name %></p>

<% end %>

<h2>Location</h2>
<p><%= @eatery.location %></p>

<h2>Cuisine</h2>
<p><%= @eatery.cuisine %></p>

<h2>Price</h2>
<p>$<%= @eatery.price_range %> pp</p>

<h2>Description</h2>
<p><%= @eatery.description %></p>

<%= link_to 'Edit Eatery', edit_eatery_path %>
<%= link_to 'Delete Eatery', eatery_path(@eatery.id), method: 'delete' %>

<%= link_to 'Make Booking', new_booking_path %>
