<% if @current_user.present? && @current_user.admin %>

<h2 class="page_header">All enquiries</h2>
<div class="enquiry_grid">

    <% @enquiries.each do |en| %>
        <div class="query_post">
            <div class="avatar">
                <%= image_tag en.user.image, class: 'post_img' %>
                <p class='post_name'><%= en.user.name %></p>
            </div>

                <div class="query_response">
                    <h3><strong>USER'S QUERY</strong></h3>
                    <p><%= en.query %></p>

                
                    <h3><strong>YOUR RESPONSE</strong></h3> 
                    <p><%= en.response %></p>
                </div>

            <p class="query_time"><em>Created at <%= en.created_at.strftime('%I:%M%P at %B %d, %Y') %></em></p>
            
            <% if en.response == nil %>

                <%= link_to 'Add Response', edit_enquiry_path(en.id), class: 'post_edit' %>

            <% end %>

            <%= link_to 'Delete Post', destroy_enquiry_path(en.id), class: 'post_delete' %>

        </div>

    <% end %>
</div>

<% elsif @current_user.present? && @current_user.admin == false %>


<h2 class="page_header">Your enquiries</h2>

<div class="enquiry_grid">
    <% @user_enquiries.each do |en| %>

        <div class="query_post">
            <div class="avatar">
                <%= image_tag en.user.image, class: 'post_img' %>
                <p class='post_name'><%= en.user.name %></p>
            </div>

                <div class="query_response">
                    <h3><strong>YOUR QUERY</strong></h3>
                    <p class='query'><%= en.query %></p>

                
                    <h3><strong>ADMIN RESPONSE</strong></h3> 
                    <p class='response'><%= en.response %></p>
                </div>

            <p class="query_time"><em>Created at <%= en.created_at.strftime('%I:%M%P at %B %d, %Y') %></em></p>

            <%= link_to 'Delete Post', destroy_enquiry_path(en.id), class: 'post_delete' %>
        </div>
    <% end %>
</div>

<% if @enquiry.errors.any? %>
    <strong class='red'>Please correct the following errors:</strong>
    <ul>
        <% @enquiry.errors.full_messages.each do |e| %>
            <li class='red'><%= e %></li>
        <% end %>
    </ul>
<% end %>

    <%= form_with model: @enquiry, local: true do |f| %>

    <h2><%= f.label :query, 'Submit a query here' %><h2>
    <p><%= f.text_area :query, cols: 70 , rows: 8 %></p>

    <%= f.submit %>

    <% end %>

<% end %>



