<!DOCTYPE html>
<html>
  <head>
    <title>Hangar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    
  </head>

  <body>
    <footer>
      <h1>HANGAR</h1>
      <p>A PLACE WHERE HANGOUT HAPPENS</p>
    </footer>

    <nav>
      <%= link_to 'Home', root_path %>
      |
      <% if @current_user.present? %>
        Welcome, <%= @current_user.name %>
        |
        <%= link_to 'Profile Detail', user_path(@current_user.id) %>
        |
        <%= link_to 'Logout', login_path, method: 'delete' %>
        |
        
        |
        <%= link_to 'Make Booking', new_booking_path %>
        |

        <%= link_to 'Enquiry & Support', enquiries_path %>
      <% else %>
        <%= link_to 'Login', login_path %>
        |
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      |
      <%= link_to 'All Eateries', eateries_path %>
      

      <% if @current_user.present? && @current_user.admin == true %>
      Admin Tools
      |
      <%= link_to 'Add Eatery', new_eatery_path %>
      |
      <%= link_to 'Browse Bookings', bookings_path %>
      |
      <%= link_to 'All Accounts', users_path %>
      |
      <%= link_to 'All Gallery Photos', photos_path %>
      <% end %>
      
    <%= form_tag(search_path, method: "get") do %>
      
        <%= search_field_tag :search, params[:search], placeholder: "Enter search here", class: "search_input" %>

        <%= button_tag "Search for Eateries / Bookings", class: "search_btn", name: nil %>


    <% end %>

    </nav>

    
    <%= yield %>
  </body>
</html>
