<!DOCTYPE html>
<html>
  <head>
    <title>Hangar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    
  </head>

  <body>
    <footer>
      <h1>HANGAR</h1>
      <p>A PLACE WHERE HANGOUT HAPPENS</p>

      <% if @current_user.present? %>
        <h3>Welcome, <%= @current_user.name %></h3>
      <% end %>

    </footer>

    <nav>
      <% unless @current_user.present? %>
        <%= link_to 'Home', root_path %>
      <% end %>

      <%= link_to 'All Eateries', eateries_path %>
      
      <% if @current_user.present? %>
        
        <%= link_to 'Profile Detail', user_path(@current_user.id) %>
        
        <%= link_to 'Enquiry & Support', enquiries_path %>

        <%= link_to 'Logout', login_path, method: 'delete' %>

      <% else %>
        <%= link_to 'Login', login_path %>
        
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
      
      

      <% if @current_user.present? && @current_user.admin == true %>
      Admin Tools
      
      <%= link_to 'Add Eatery', new_eatery_path %>
      
      <%= link_to 'Browse Bookings', bookings_path %>
      
      <%= link_to 'All Accounts', users_path %>
      
      <%= link_to 'All Gallery Photos', photos_path %>
      <% end %>
      
    <div id="search_bar">
      <%= form_tag(search_path, method: "get") do %>
        
          <%= search_field_tag :search, params[:search], placeholder: "Search eatery / booking here", class: "search_input" %>

          <%= button_tag "Search", class: "search_btn", name: nil %>

      <% end %>
    </div>

    </nav>

    
    <%= yield %>



  </body>
</html>
